<section class="todoapp">
  <header class="header">
    <h1>Get It Done!</h1>
    <div class="stats">
      <span>Completed:</span><span id="done"></span>
      <span>Not Completed:</span><span id="not-done"></span>
    </div>
    <form id="new-form">
      <input type="text" class="new-todo" placeholder="Add a task:" />
    </form>
  </header>

  <section class="main">
    <ul class="todo-list">
      
    </ul>
  </section>
</section>

<section class="author">
  A <%= link_to "todo-mvc", "http://todomvc.com" %> application, built by <%= link_to "Arit Amana", "https://github.com/msarit/accomplish" %>
</section>